@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

canvas {
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }
  }

#scene-container {
  animation: fadeIn ease-in-out 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#scene-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -100;
}

.parent {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.content {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    opacity: 1;
  }

@keyframes slideIn {
  0% {
    transform: translateX(-26vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid 2px;
  box-sizing: border-box;
  width: 26vw;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'JetBrains Mono', monospace;
  color: rgb(108, 28, 184);
  transform: translateX(-26vw);
  animation: slideIn ease-in-out 0.9s;
  animation-delay: 1.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  }

.sidebar::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%
}

h1 {
  font-size: 2.7vw;
  padding-right: 7px;
  padding-left: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

h1:hover {
  text-decoration: underline 3px;
}

h1:active {
  color: rgb(108, 28, 184);
}

#about-window {
  position: absolute;
  width: 50vw;
  height: 50vh;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 17.5vh;
  margin-bottom: 17.5vh;
  border: solid black 3px;
  z-index: 100;
  display: none;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255 1) ;
  backdrop-filter: blur(40px);
} 

.about-content .p {
  padding-left: 6vw;
  padding-right: 7vw;
  padding-bottom: 4.8vw;
}

.about-content p {
  margin: 0;
  pointer-events: none;
  user-select: none;
  height: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(15px + 0.7vw);
  text-align: justify;
  line-height: 3vw;
  animation: fadeIn ease-in-out 0.3s;
}

.about-content i {
  height: 10%;  
  font-size: 2.5vw;
  padding: 1.1vw 1.1vw 0.4vw 1.1vw ;
  cursor: pointer;
  position: relative;
}

.about-content .i {
  align-self: end;
}

.about-content i:hover {
  color: rgb(85, 85, 85);
}

.about-content i:active {
  color: rgb(136, 136, 136);
}

.menu {
  padding-inline-start: 0;
  border-bottom: solid 2px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.menu-item-1, .menu-item-2 {
  width: 100%;
  display: flex;
  border-top: solid 2px; 
  padding: 10px;
  pointer-events: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  font-size: 1.8vw;
  color: rgb(108, 28, 184);
  align-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.texts li {
  border-top: solid 2px;
  width: 100%;
  margin: 0px;
  padding: 10px;
  list-style-type: none;

  font-size: 1.7vw;
}

.publications {
  width: 100%;
  border-top: solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publication-img {
  width: 70%;
  border: solid 2px black;
  margin: 2vw;
}

.publication-img  {
  opacity: 1;
  display: block;
  width: 75%;
  height: auto;
  transition: .35s ease;
  backface-visibility: hidden;
}

.publication-name {
  display: none;
}

.menu-arrow {
  padding-right: 6%;
}

a {
  color:rgb(108, 28, 184);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(108, 28, 184);
}

.qr {
  display: flex;
  justify-content: center;
}

.qr img {
  width: 50%;
  bottom: 0%;
  padding: 2.3vw;
  z-index: -10;
}

.eye {
  position: absolute;
  padding: 2.2vw;
  right: 0px;
  opacity: 0%;
  animation: fadeIn ease 1.5s;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
}

.eye img {
  width: calc(20px + 4vw);
  color: rgb(108, 28, 184);
}

@keyframes textCircleShiftRight {
  0% {
    opacity: 0;
    transform: translateX(-10vw);
  }
  16% {
    opacity: 0;
  }
  45% {
    transform: translateX(-10vw);
    opacity: 1;
  }
  70% {
    transform: translateX(-10vw);
    opacity: 1;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes rotate {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

.text-circle {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  padding-top: 1vw;
  pointer-events: none;
  opacity: 0;
  animation: textCircleShiftRight ease 2.5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text-circle text {
  font-family: 'Nova Oval', cursive;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 6.9px;
  animation: rotate 100s infinite linear;
  transform-origin: center;
  transform-box: fill-box; 
}

@keyframes textCircleFadeIn {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  * {
    overflow: hidden;
  }

  .content {
    flex-direction: column;
  }

  .sidebar {
    border: solid 2px;
    min-height: 40vh;
    width: 100vw;
    flex-direction: row;
    transform: translateX(0px);
    opacity: 0;
    animation: fadeIn ease-out 0.5s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-y: scroll;
    }

  .header {
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100%;
    width: 40%;
    padding: 0;
    margin: 0;
    border-right: solid 2px rgb(108, 28, 184);
    }

    h1 {
    font-size: calc(10px + 2vw);
    padding: 3vh 4vw;
    }

  #about-window {
    position: absolute;
    width: 60vw;
    height: 50vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 17.5vh;
    margin-bottom: 17.5vh;
    border: solid black 3px;
    z-index: 100;
    display: none;
    }
    
  .about-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-color: white;
    } 
    
  .about-content .p {
      padding-left: 6vw;
      padding-right: 7vw;
      padding-bottom: 4.8vw;
    }
    
  .about-content p {
    margin: 0;
    pointer-events: none;
    user-select: none;
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2vh;
    text-align: justify;
    line-height: 4vh;
    animation: fadeIn ease-in-out 0.3s;
  }
    
  .about-content i {
    height: 10%;  
    font-size: 3.5vh;
    padding: 1.1vh;
    cursor: pointer;
  }

  .menu {
    height: 40vh;
    width: 70%;
    border-bottom: none;    
    overflow-y: scroll;
  }

  .menu::-webkit-scrollbar {
    display: none;
  }    

  .menu-item-1 {
    border-top: none;
  } 
  .publication-img {
    display: block;
    width: 50%;
  }
  .publications {
    width: 100%;
    display: flex;
    padding: 2vh 1vw 2vw 3vh;  
  }

  li {
    font-size: calc(10px + 1.6vw);
    color: rgb(108, 28, 184);
    align-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    }

  .texts li {
    font-size: calc(10px + 1vw);
    }

  .publication-name {
    display: block;
    transform: rotate(90deg);
    width: 60%;
    justify-self: flex-start;
    }
  
    .publication-name li {
      padding: 18vw 1vh 0 1vh;
      }

  .qr {
    display: none;
    }

  .parent {
    height: auto;
    width: 150vw;
    position: absolute;
    transform: translateX(-24.9vw) translateY(40vh);
    }

  .text-circle {
    opacity: 1;
    padding: 2vh 2vw;
    animation: rotate 90s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .eye img {
    margin-bottom: 0;
    width: calc(20px + 4vh);
    }
}