@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');

@font-face {
  font-family: "PP Supply Mono";
  src: url(assets/PPSupplyMono-Ultralight.otf);
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  min-height: 0vw;
}

canvas {
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }
  }

@keyframes iconSlideLeft {
  0% { 
    transform: translateX(20px);
}
100% { 
  transform: translateX(0px);
}
}

@keyframes iconSlideDown {
  0% { 
    transform: translateX(30px);
}
100% { 
  transform: translateX(0px);
}
}

#scene-container {
  animation: fadeIn ease-in-out 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#scene-container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -100;
}

.parent {
  display: flex;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  cursor: crosshair;
}

.content {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    opacity: 1;
  }

@keyframes slideIn {
  0% {
    transform: translateX(-26vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid 2px;
  box-sizing: border-box;
  width: 26vw;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'PP Supply Mono', monospace;
  color: rgb(108, 28, 184);
  transform: translateX(-26vw);
  animation: slideIn ease-in-out 0.8s;
  animation-delay: 1.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 2.3vw;
  font-weight: 600;
  padding: 2vw 2vw 2.7vw 0vw;
  margin: 0;
  line-height: 3.4vw;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

h1:hover {
  text-decoration: underline 2px;
}

h1:active {
  color: rgb(108, 28, 184);
}

.symbol {
  display: none;
}

#about-window {
  position: absolute;
  width: 60vw;
  height: fit-content;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 17.5vh;
  margin-bottom: 17.5vh;
  border: solid black 2px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  display: none;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-content .p {
  padding: 0 6vw 6vw 6vw;
}

.about-content p {
  margin: 0;
  pointer-events: none;
  user-select: none;
  height: 100%;
  font-family: 'PP Supply Mono', sans-serif;
  font-size: calc(10px + 0.7vw);
  text-align: justify;
  line-height: calc(15px + 1.5vw);
  animation: fadeIn ease-in-out 0.3s;
}

.about-content .i {
  align-self: flex-end;
}

.about-content i {
  height: 10%;  
  font-size: calc(20px + 0.8vw);
  padding: 1.1vw 1.1vw 0.4vw 1.1vw ;
  cursor: pointer;
  margin-left: auto;
  margin-right: 0;
}

.about-content i:hover {
  color: rgb(78, 78, 78);
}

.about-content i:active {
  color: rgb(121, 121, 121);
}

.menu {
  padding-inline-start: 0;
  border-bottom: solid 2px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.menu-item-1, .menu-item-2 {
  width: 100%;
  display: flex;
  border-top: solid 2px; 
  padding: 10px;
  pointer-events: none;
  box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  font-size: 1.5vw;
  color: rgb(108, 28, 184);
  align-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.texts li {
  border-top: solid 2px;
  width: 100%;
  margin: 0px;
  padding: 10px;
  list-style-type: none;
  box-sizing: border-box;
  font-size: 1.4vw;
}

.publications {
  box-sizing: border-box;
  width: 100%;
  border-top: solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publication-img {
  width: 70%;
  border: solid 1.6px black;
  margin: 1.3vw auto;
}

.publication-img  {
  opacity: 1;
  display: block;
  width: 75%;
  height: auto;
  transition: .35s ease;
  backface-visibility: hidden;
}

.publication-name {
  display: none;
}

.menu-arrow {
  padding-right: 6%;
}

a {
  color:rgb(108, 28, 184);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(108, 28, 184);
}

.qr {
  display: flex;
  justify-content: center;
}

.qr img {
  width: 50%;
  bottom: 0%;
  padding: 2.3vw;
  z-index: -10;
}

.eye {
  position: absolute;
  padding: 2.2vw;
  right: 0px;
  opacity: 0%;
  animation: fadeIn ease 1.5s;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
}

.eye img {
  width: calc(20px + 4vw);
  color: rgb(108, 28, 184);
}

@keyframes textCircleShiftRight {
  0% {
    opacity: 0;
    transform: translateX(-10vw);
  }
  25% {
    opacity: 0;
  }
  45% {
    transform: translateX(-10vw);
    opacity: 1;
  }
  70% {
    transform: translateX(-10vw);
    opacity: 1;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes rotate {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

.text-circle {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 2vw;
  padding-top: 1vw;
  pointer-events: none;
  opacity: 0;
  animation: textCircleShiftRight ease 2.2s;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.text-circle text {
  font-family: 'Nova Oval', cursive;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 6.9px;
  animation: rotate 100s infinite linear;
  transform-origin: center;
  transform-box: fill-box; 
}

@keyframes textCircleFadeIn {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0px;
  right: 0px;
  padding: 0 1.2vw 1.1vw 0;
  opacity: 0;
  animation: fadeIn 0.15s ease;
  animation-delay: 2.36s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.footer a {
  font-family: PP Supply Mono;
  font-size: calc(7px + 0.7vw);
  text-decoration: none;
  text-align: right;
  line-height: calc(10px + 0.9vw);
}

.footer a:hover {
  text-decoration: none;
}

@media (max-width: 600px) {
  html, body {
    overflow: hidden;
    position: fixed;
  }

  .content {
    flex-direction: column;
  }

  .sidebar {
    border: solid 2px;
    height: 45vh;
    width: 100vw;
    flex-direction: row;
    transform: translateX(0px);
    opacity: 0;
    animation: fadeIn ease-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: sticky;
    top: 0;
    height: 100%;
    width: 40%;
    padding: 0;
    margin: 0;
    border-right: solid 2px rgb(108, 28, 184);
    }

    h1 {
    font-size: calc(10px + 1.9vw);
    font-weight: 500;
    padding: 3vh 4vw;
    line-height: calc(18px + 3vw);
    }

  #about-window {
    position: absolute;
    width: 80vw;
    height: fit-content;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    z-index: 100;
    display: none;
  }
  
  .about-content .p {
    height: 100%;
    padding: 0 12vw 19vw 12vw
  }

  .about-content p {
    pointer-events: none;
    user-select: none;
    font-family: 'PP Supply Mono', sans-serif;
    font-size: calc(10px + 1.3vw);
    text-align: justify;
    line-height: calc(15px + 2.3vw);
    animation: fadeIn ease-in-out 0.2s;
  }
    
  .about-content i {
    height: 10%;  
    font-size: calc(20px + 2vw);
    padding: 2vh;
    cursor: pointer;
  }

  .menu {
    height: 100%;
    width: 70%;
    border-bottom: none;    
    overflow-y: scroll;
  }

  .menu::-webkit-scrollbar {
    display: none;
  }    

  .menu-item-1 {
    border-top: none;
  }

  .publications {
    width: 100%;
    padding: 2vh;  
  }

  .publication-img {
    display: block;
    width: 60%;
    min-width: 90px;
    margin: 1vw 3vw;
  }

  .publication-name {
    display: block;
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
    }
  
  .publication-name p {
    font-size: calc(11px + 1vw);
    padding: 1vh;
    }

  li {
    font-size: calc(10px + 1.6vw);
    color: rgb(108, 28, 184);
    align-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    }

  .texts li {
    font-size: calc(10px + 1vw);
    }

  .qr {
    display: none;
    }

  .parent {
    height: auto;
    width: 150vw;
    position: absolute;
    transform: translateX(-24.9vw) translateY(45vh);
    }

  .text-circle {
    opacity: 1;
    padding: 2vh 2vw;
    transform-origin: center;
    transform-box: fill-box;
    animation: rotate 100s infinite linear, fadeIn ease-in-out 0.5;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .eye img {
    margin-bottom: 0;
    width: calc(20px + 4vh);
    }
}

.loader {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 2vw 3vw 2vw 3vw;
  z-index: 100;
}

.loader p {
  font-family: 'PP Supply Mono', sans-serif;
  font-size: 1.5vw;
  color: rgb(108, 28, 184);
}

@media (max-width: 600px) {
  .loader p {
    font-size: calc(10px + 1.6vw);
  }
}  

@keyframes loadingCursor {
  50% {
    opacity: 0;
  }
}

.cursor {
  animation: loadingCursor 0.5s step-start infinite;
}